<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>E-Learning</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/thub.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/thub.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/thub.png">
    <link rel="shortcut icon" type="image/x-icon" href="img/thub.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/css/editor.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/jquery-3.6.0.js"></script>
</head>



                <div class="sl-external-window" style="background-color: rgba(0, 0, 0, 0.5);">
                   <div class="sl-code-coach">
                      <div class="sl-code-coach-wrapper">
                         <div class="sl-code-coach-wrapper__header">
                            <div class="sl-code-coach-header">
                         
                               <div class="sl-code-coach-header__actions">
                                  <div class="sl-code-coach-header__actions__solution">
                                     <button class="btn btn-secondary" ><a href="<%=course.title+'Course'%>" style="text-decoration: none; color: aliceblue;">back to the course</a></button>
                                    

                                  </div>
                           
                               </div>
                            </div>
                         </div>
                         <div class="sl-code-coach-wrapper__container">
                            <div class="sl-code-coach-wrapper__left">
                               <div class="sl-code-coach-wrapper__left-top">
                                  <div class="sl-code-coach-tabs"><button type="button" class="sl-code-coach-tabs__item sl-code-coach-tabs__item--active">Problem</button></div>
                               </div>
                               <div class="sl-code-coach-wrapper__left-middle">
                                  <div class="sl-code-coach-problem">
                                     <h1 class="sl-description-heading sl-description-heading--h1"><span class="sl-description-text "><%=lesson[0].title%></span></h1>
             
                                     <div class="sl-description-note">
                                        <div class="sl-description-note__icon">
                                           <svg style="width: 100%; height: 100%;">
                                              <use xlink:href="#exclamationRoundedFill"></use>
                                           </svg>
                                        </div>
                                        <div class="sl-description-note__content"><span class="sl-description-text "><%=lesson[0].contenant%> </span></div>
                                     </div>
                                     <div class="sl-description-note" style="background-color: rgba(70, 129, 102, 0.867);">
                                     
                                       <div class="sl-description-note__content"><span class="sl-description-text "><%=lesson[0].Exercice%> </span></div>
                                    </div>
                                  </div>
                               </div>
                            </div>
                            <div class="sl-code-coach-wrapper__right"style="">
                               <div class="sl-code-coach-editor" >
                                

                                  <form id="editor" name="editor" method="POST" action="/compiler/compilecode">

                                    <div name="div" class="sl-code-coach-language-icon" sl-test-data="cmpLanguageIcon">
                                       <input id="lang" type="text" name="lang" value="<%=course.title%>"   class="sl-code-coach-language-icon__title"readonly>
                                    </div>

                                  <div style="width: 100%; height: calc(100% - 48px); --codelens-font-features_ee1f61:liga; " data-keybinding-context="1" data-mode-id="csharp">
                                     <div class="monaco-editor no-user-select  showUnused showDeprecated vs-dark" role="code" data-uri="inmemory://model/1" style="width: 720px; height: 334px;">
                                        <div data-mprt="3" class="overflow-guard" style="width: 720px; height: 334px;">
                                           <div class="margin" role="presentation" aria-hidden="true" style="position: absolute; transform: translate3d(0px, 0px, 0px); contain: strict; top: 0px; height: 334px; width: 66px;">
                                              <div class="glyph-margin" style="left: 0px; width: 0px; height: 334px;"></div>
                                              <div class="margin-view-zones" role="presentation" aria-hidden="true" style="position: absolute;"></div>
                                              <div class="margin-view-overlays" role="presentation" aria-hidden="true" style="position: absolute; width: 66px; font-family: Consolas,  monospace; font-weight: 400; font-size: 14px; font-feature-settings: liga; line-height: 17px; letter-spacing: 0px; height: 334px;">
                                                 <div style="position:absolute;top:0px;width:100%;height:17px;">
                                                    <div class="line-numbers" style="left:0px;width:40px;">1</div>
                                                 </div>
                                                 <div style="position:absolute;top:17px;width:100%;height:17px;">
                                                    <div class="line-numbers" style="left:0px;width:40px;">2</div>
                                                 </div>
                                                 <div style="position:absolute;top:34px;width:100%;height:17px;">
                                                    <div class="line-numbers" style="left:0px;width:40px;">3</div>
                                                 </div>
                                                 <div style="position:absolute;top:51px;width:100%;height:17px;">
                                                    <div class="cldr codicon codicon-folding-expanded" style="left:40px;width:26px;"></div>
                                                    <div class="line-numbers" style="left:0px;width:40px;">4</div>
                                                 </div>
                                                 <div style="position:absolute;top:68px;width:100%;height:17px;">
                                                    <div class="line-numbers" style="left:0px;width:40px;">5</div>
                                                 </div>
                                                 <div style="position:absolute;top:85px;width:100%;height:17px;">
                                                    <div class="cldr codicon codicon-folding-expanded" style="left:40px;width:26px;"></div>
                                                    <div class="line-numbers" style="left:0px;width:40px;">6</div>
                                                 </div>
                                                 <div style="position:absolute;top:102px;width:100%;height:17px;">
                                                    <div class="line-numbers" style="left:0px;width:40px;">7</div>
                                                 </div>
                                                 <div style="position:absolute;top:119px;width:100%;height:17px;">
                                                    <div class="current-line current-line-margin-both" style="width:66px; height:17px;"></div>
                                                    <div class="cldr codicon codicon-folding-expanded" style="left:40px;width:26px;"></div>
                                                    <div class="active-line-number line-numbers" style="left:0px;width:40px;">8</div>
                                                 </div>
                                                 <div style="position:absolute;top:136px;width:100%;height:17px;">
                                                    <div class="line-numbers" style="left:0px;width:40px;">9</div>
                                                 </div>
                                                 <div style="position:absolute;top:153px;width:100%;height:17px;">
                                                    <div class="line-numbers" style="left:0px;width:40px;">10</div>
                                                 </div>
                                                 <div style="position:absolute;top:170px;width:100%;height:17px;">
                                                    <div class="line-numbers" style="left:0px;width:40px;">11</div>
                                                 </div>
                                                 <div style="position:absolute;top:187px;width:100%;height:17px;">
                                                    <div class="line-numbers" style="left:0px;width:40px;">12</div>
                                                 </div>
                                                 <div style="position:absolute;top:204px;width:100%;height:17px;">
                                                    <div class="line-numbers" style="left:0px;width:40px;">13</div>
                                                 </div>
                                                 <div style="position:absolute;top:221px;width:100%;height:17px;">
                                                    <div class="line-numbers" style="left:0px;width:40px;">14</div>
                                                 </div>
                                              </div>
                                           </div>
                                         
                                           <textarea id="code" name="code"  class="inputarea monaco-mouse-cursor-text" wrap="off" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" aria-label="Editor content;Press Alt+F1 for Accessibility Options." tabindex="0" role="textbox" aria-roledescription="editor" aria-multiline="true" aria-haspopup="false" aria-autocomplete="both" style="color: rgb(255, 255, 255); font-family: Consolas; font-weight: 400; font-size: 14px; font-feature-settings: liga; line-height: 17px; letter-spacing: 0px; top: 0px; left: 45px; width: 100%; height: 100%;"><%=editorText%></textarea>
                                        
                                        </div>
                                      
                                        <div class="shadow-root-host"></div>
                                     </div>
                                    
                                       <button id="HButton" type="submit" value="submit" name="submit" class="sl-code-coach-actions__button sl-code-coach-actions__button--primary" style="margin-top: 10px;">
                                          Run
                                          <div class="sl-code-coach-actions__icon">
                                             <svg style="width: 100%; height: 100%;">
                                                <use xlink:href="#run"></use>
                                             </svg>
                                          </div>
                                       </button>
                                       <h1 style="margin: 10px;">output : </h1>
                                       <div id="holder" name="holder" style="margin: 10px ; font-family: 'Courier New', Courier, monospace;"></div>
                                    </form>
                                  </div>
                         
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
   
    
    </div>
    <div id="fb-root" class=" fb_reset">
       <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
          <div></div>
       </div>
    </div>
    <div class="monaco-aria-container">
       <div class="monaco-alert" role="alert" aria-atomic="true"></div>
       <div class="monaco-alert" role="alert" aria-atomic="true"></div>
       <div class="monaco-status" role="complementary" aria-live="polite" aria-atomic="true"></div>
       <div class="monaco-status" role="complementary" aria-live="polite" aria-atomic="true"></div>
    </div>
 </body>
 
 
 <script>
  
    $(document).ready(function(){
       var my_div = $("#holder");
     
       $("#HButton").on("click", ()=> {
         setTimeout(function(){   $.ajax({
            url: "/compiler/compilecode"
         }).done(function( data ) {
            console.log( "Sample of data:", data.message );
            if('error' in data.message){
               var error; 
               var result;
               var message;
               console.log($("#lang").val());
               if($("#lang").val()=="Python"){
                  console.log("in python");
                  error = data.message.error;
                  result= error.indexOf("NameError");
                  message = error.substring(result,error.length)
               }
               if($("#lang").val()==='Java'){
                  error = data.message.error;
                  result= error.indexOf("error");
                  message = error.substring(result,error.length)
               }
               if($("#lang").val()==='C_Plus'){
                  error = data.message.error;
                  result= error.indexOf("error");
                  message = 'wrong ! ! ! '
               }
               if($("#lang").val()==='C_Sharp'){
                  error = data.message.error;
                  result= error.indexOf("error");
                  message = error.substring(result,error.length)
               }
               
              
               
               
            $('#holder').html(message);
         }else
         {
            $('#holder').html(data.message.output);
         }
         }); }, 1000);
      
        
         $('#holder').html("");
         
       });
      });
 
</script>